{% extends ':admin:plantilla.html.twig' %}

{% block headTitle %}<span class="color-letra">Categorias</span>{% endblock %}

{% block body %}
    {#{% for categoria in categorias %}
        {#{{ categoria.nombre }}#}
       {#<td>
       <a href="{{ path('app_publicacionesQueTieneCategoria', {'nombre': categoria.nombre}) }}">{{ categoria.nombre }}</a>
           {#<p>Publicaciones en las que aparece la categoria {{ categoria.nombre }}</p>#}


       {#<a href="{{ path('app_admin_categoria1_borrar', {'id': categoria.id}) }}"><img src="{{ asset('icons/glyphicons-198-remove.png') }}" alt="borrar-categoria" /></a>
       <a href="{{ path('app_editar_categoria_admin', {'id': categoria.id}) }}"><img src="{{ asset('icons/glyphicons-151-edit.png') }}" alt="editar-categoria" /></a>
             <a class="btn btn-primary" href="{{ path('app_editar_categoria_admin', {'id': categoria.id}) }}">editar</a><a class="btn btn-danger" href="{{ path('app_admin_categoria_borrar', {'id': categoria.id}) }}">borrar</a>
         </td>

       <div style="padding: 5px 20px">
          {# {% for publicacion in categoria.publicaciones %}
               <div><a href="{{ path('app_publicacion_mostrar', {'id': publicacion.id}) }}">{{ publicacion }}</a></div>


           {% endfor %}#}

     {#</div>
 {% endfor %}#}

    <table class="table">

        {% for categoria in categorias %}
            <tr>
                <td style="font-weight: 900"><a href="{{ path('app_publicacionesQueTieneCategoria', {'nombre': categoria.nombre}) }}">{{ categoria.nombre }}</a></td>
                <td><a class="btn btn-primary" href="{{ path('app_editar_categoria_admin', {'id': categoria.id}) }}">editar</a></td>
                <td><a class="btn btn-danger" href="{{ path('app_admin_categoria_borrar', {'id': categoria.id}) }}">borrar</a></td>
            </tr>
        {% endfor %}
    </table>

        <div class="navigation">
        {{ knp_pagination_render(categorias) }}
    </div>
{% endblock %}





