
<div class="caja separar-comentarios " style="border:none;">

    {% if comentario.autor == app.user or is_granted('ROLE_ADMIN') %}
        <div style="float: right;">
            <a href="{{ path('app_comentario_editar', {'id': comentario.id}) }}"><img src="{{ asset('icons/glyphicons-151-edit.png') }}" alt="editar-comentario" /></a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_admin_comentario_borrar', {'id': comentario.id}) }}"><img src="{{ asset('icons/glyphicons-198-remove.png') }}" alt="borrar-comentario" /></a>
            {% endif %}
        </div>
    {% endif %}

    <div class="margin-bottom-sm comentarios-sidebar">
        <span style="color: white">  </span><a class="autor" href="{{ path('app_publicaciones_de_un_Usuario', {'username': comentario.autor.username}) }}">@{{ comentario.autor }}</a>
        <div style="font-size: medium;" class="comentarios-sidebar">
            <span style="color: white">  </span>{{ comentario }}
        </div>

    </div>
</div>