
<div class="caja separar-comentarios ">
    {% if comentario.autor == app.user or is_granted('ROLE_ADMIN') %}
        <div style="float: right;">
            <a href="{{ path('app_comentario_editar', {'id': comentario.id}) }}"><img src="{{ asset('icons/glyphicons-151-edit.png') }}" alt="editar-comentario" /></a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_admin_comentario_borrar', {'id': comentario.id}) }}"><img src="{{ asset('icons/glyphicons-198-remove.png') }}" alt="borrar-comentario" /></a>
            {% endif %}
        </div>
    {% endif %}
    <div class="separar-comentarios">
        <strong>Comentario de:</strong> <a class="autor" href="{{ path('app_publicaciones_de_un_Usuario', {'username': comentario.autor.username}) }}">@{{ comentario.autor }}</a> ::
        <strong>Creado:</strong> {{ comentario.createdAt|date("d/m/Y H:i:s") }} ::
        <strong>Modificado:</strong> {{ comentario.updatedAt|date("d/m/Y H:i:s") }}</div>
    <div style="font-size: medium">{{ comentario }}</div>

    <div class="">
        <span class="votar votar-positivo" data-voto="votosPositivos" data-id="{{ comentario.id }}">
            <a href="{{ path('app_voto_comentario_positivo', {'id': comentario.id}) }}">
                <div class="btn btn-danger">León ({{ comentario.votosPositivos }})</div>
            </a>

        </span>

        <span class="votar votar-negativo" data-voto="votosNegativos" data-id="{{ comentario.id }}">
            <a href="{{ path('app_voto_comentario_negativo', {'id': comentario.id}) }}">
                <div class="btn btn-danger"> Huevón ({{ comentario.votosNegativos }})</div>
            </a>
        </span>

    </div>


</div>