{% extends '::base.html.twig' %}

{% block body %}
    <div>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div>
                <span>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</span> | <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
            </div>
            <div>
                <ul>
                    <li><a href="{{ path('app_publicacion_publicaciones') }}">Publicaciones</a> - <a href="{{ path('app_publicacion_nueva') }}">Nueva publicación</a></li>
                    <li><a href="{{ path('app_categorias_categorias') }}">Categorias</a></li>
                   <li><a href="{{ path('app_logros_usuario_id', {'id': app.user.id}) }}">Mis logros</a></li>
                </ul>
            </div>

        {% else %}
            <span>Estás como usuario Anónimo</span> | <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> - <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}

    </div>


    <div>
    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <span><a href="{{ path('app_admin_index_index') }}">Ir al panel del administrador</a></span>
        </div>


    {% endif %}
    </div>

    <br>
    <div>
        {% for publicacion in publicaciones %}
            {% include ':publicacion:publicacion_contenido.html.twig' %}
        {% endfor %}
        {% if not doPagination is defined %}
            <div class="navigation">
                {{ knp_pagination_render(publicaciones) }}
            </div>
        {% endif %}
    </div>


{% endblock %}