{% extends '::base.html.twig' %}

{% block body %}
    <div>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div>
                <span>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</span> | <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
            </div>
            <div>
                <ul>
                    <li><a href="{{ path('app_publicacion_publicaciones') }}">Publicaciones</a> - <a href="{{ path('app_publicacion_nueva') }}">Nueva publicación</a></li>
                    <li><a href="{{ path('app_categorias_categorias') }}">Categorias</a></li>
                </ul>
            </div>

        {% else %}
            <span>Estás como usuario anónimo</span> | <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> - <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}

    </div>
{% endblock %}