{% extends '::base.html.twig' %}

{% block headTitle %}Categorias{% endblock %}

{% block body %}
    <h1 class="color-letra">Categorias</h1>
    <hr>
    <div style="margin-left: 15px; margin-bottom: 10px">
    {% for categoria in categorias %}
       {# <h3>{{ categoria.nombre }}</h3>#}
        <h3 ><a class="btn btn-primary color-Categorias" href="{{ path('app_publicacionesQueTieneCategoria', {'nombre': categoria.nombre}) }}">{{ categoria.nombre }}</a></h3>
       {# <h3><a href="{{ path('app_publicacion_mostrar', {'id': categoria.id}) }}">{{ categoria.nombre }}</a></h3>#}


       {# <p>Publicaciones en las que aparece la categoria {{ categoria.nombre }}</p>
        <div style="padding: 5px 20px">
            {% for publicacion in categoria.publicaciones %}
                <div><a href="{{ path('app_publicacion_mostrar', {'id': publicacion.id}) }}">{{ publicacion }}</a></div>
            {% endfor %}
        </div>
        #}
    {% endfor %}
    </div>

    <div style="margin-left: 15px" class="navigation">
        {{ knp_pagination_render(categorias) }}
    </div>
{% endblock %}